* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 300px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

@media (min-width: 576px) {
  .container {
    max-width: 570px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 760px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 985px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1195px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: none;
  }
}

.transition .holder {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

@media (max-width: 575.8px) {
  .transition .holder {
    width: 150px;
    height: 150px;
  }
}

.transition .holder span {
  opacity: 0;
  cursor: default;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.transition .holder:hover span {
  opacity: 1;
  cursor: text;
}

.transition .holder::before,
.transition .holder::after {
  content: "";
  position: absolute;
  background-color: #fb5959;
  width: 100%;
  height: 50%;
  z-index: -1;
}

.transition .holder::before {
  top: 0;
  left: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.transition .holder::after {
  bottom: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: bottom 0.5s;
  -webkit-transition: bottom 0.5s;
  -moz-transition: bottom 0.5s;
  -ms-transition: bottom 0.5s;
  -o-transition: bottom 0.5s;
}

.transition .holder:hover::after {
  bottom: -15px;
}

.transition .holder:hover::before {
  top: -27px;
  left: -38px;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}

.animation .holder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 200px;
}

@media (max-width: 575.8px) {
  .animation .holder {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 767.8px) {
  .animation .holder {
    width: 150px;
    height: 150px;
  }
}

.animation .holder div {
  position: absolute;
  background-color: #fb5959;
  width: 100px;
  height: 100px;
}

@media (max-width: 575.8px) {
  .animation .holder div {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 767.8px) {
  .animation .holder div {
    width: 75px;
    height: 75px;
  }
}

.animation .first {
  top: 0;
  left: 0;
  border-top-left-radius: 8px;
  animation: throw-top-left 3s ease infinite forwards;
  -webkit-animation: throw-top-left 3s ease infinite forwards;
}

.animation .second {
  top: 0;
  right: 0;
  border-top-right-radius: 8px;
  animation: throw-top-right 3s ease infinite forwards;
  -webkit-animation: throw-top-right 3s ease infinite forwards;
}

.animation .third {
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 8px;
  animation: throw-bottom-left 3s ease infinite forwards;
  -webkit-animation: throw-bottom-left 3s ease infinite forwards;
}

.animation .fourth {
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 8px;
  animation: throw-bottom-right 3s ease infinite forwards;
  -webkit-animation: throw-bottom-right 3s ease infinite forwards;
}

@keyframes throw-top-left {
  0% {
    transform: translate(0, 0) rotate(0deg);
    -webkit-transform: translate(0, 0) rotate(0deg);
    -moz-transform: translate(0, 0) rotate(0deg);
    -ms-transform: translate(0, 0) rotate(0deg);
    -o-transform: translate(0, 0) rotate(0deg);
  }

  50% {
    transform: translate(-60px, -60px) rotate(180deg);
    -webkit-transform: translate(-60px, -60px) rotate(180deg);
    -moz-transform: translate(-60px, -60px) rotate(180deg);
    -ms-transform: translate(-60px, -60px) rotate(180deg);
    -o-transform: translate(-60px, -60px) rotate(180deg);
  }

  100% {
    transform: translate(0, 0) rotate(360deg);
    -webkit-transform: translate(0, 0) rotate(360deg);
    -moz-transform: translate(0, 0) rotate(360deg);
    -ms-transform: translate(0, 0) rotate(360deg);
    -o-transform: translate(0, 0) rotate(360deg);
  }
}

@keyframes throw-top-right {
  0% {
    transform: translate(0, 0) rotate(0deg);
    -webkit-transform: translate(0, 0) rotate(0deg);
    -moz-transform: translate(0, 0) rotate(0deg);
    -ms-transform: translate(0, 0) rotate(0deg);
    -o-transform: translate(0, 0) rotate(0deg);
  }

  50% {
    transform: translate(60px, -60px) rotate(180deg);
    -webkit-transform: translate(60px, -60px) rotate(180deg);
    -moz-transform: translate(60px, -60px) rotate(180deg);
    -ms-transform: translate(60px, -60px) rotate(180deg);
    -o-transform: translate(60px, -60px) rotate(180deg);
  }

  100% {
    transform: translate(0, 0) rotate(360deg);
    -webkit-transform: translate(0, 0) rotate(360deg);
    -moz-transform: translate(0, 0) rotate(360deg);
    -ms-transform: translate(0, 0) rotate(360deg);
    -o-transform: translate(0, 0) rotate(360deg);
  }
}

@keyframes throw-bottom-left {
  0% {
    transform: translate(0, 0) rotate(0deg);
    -webkit-transform: translate(0, 0) rotate(0deg);
    -moz-transform: translate(0, 0) rotate(0deg);
    -ms-transform: translate(0, 0) rotate(0deg);
    -o-transform: translate(0, 0) rotate(0deg);
  }

  50% {
    transform: translate(-60px, 60px) rotate(180deg);
    -webkit-transform: translate(-60px, 60px) rotate(180deg);
    -moz-transform: translate(-60px, 60px) rotate(180deg);
    -ms-transform: translate(-60px, 60px) rotate(180deg);
    -o-transform: translate(-60px, 60px) rotate(180deg);
  }

  100% {
    transform: translate(0, 0) rotate(360deg);
    -webkit-transform: translate(0, 0) rotate(360deg);
    -moz-transform: translate(0, 0) rotate(360deg);
    -ms-transform: translate(0, 0) rotate(360deg);
    -o-transform: translate(0, 0) rotate(360deg);
  }
}

@keyframes throw-bottom-right {
  0% {
    transform: translate(0, 0) rotate(0deg);
    -webkit-transform: translate(0, 0) rotate(0deg);
    -moz-transform: translate(0, 0) rotate(0deg);
    -ms-transform: translate(0, 0) rotate(0deg);
    -o-transform: translate(0, 0) rotate(0deg);
  }

  50% {
    transform: translate(60px, 60px) rotate(180deg);
    -webkit-transform: translate(60px, 60px) rotate(180deg);
    -moz-transform: translate(60px, 60px) rotate(180deg);
    -ms-transform: translate(60px, 60px) rotate(180deg);
    -o-transform: translate(60px, 60px) rotate(180deg);
  }

  100% {
    transform: translate(0, 0) rotate(360deg);
    -webkit-transform: translate(0, 0) rotate(360deg);
    -moz-transform: translate(0, 0) rotate(360deg);
    -ms-transform: translate(0, 0) rotate(360deg);
    -o-transform: translate(0, 0) rotate(360deg);
  }
}
